body {
    font-size: 1.4em;
    font-family: Arial, sans-serif, Times, "Times New Roman";
    background-color: lightgray;
}

button {
  color: black;
}

.container {
    margin : 0 auto;
    margin-top: 2%;
    width: 85%;
}
table.selectabletable thead > tr:hover {
    background-color: white;
}
table.selectabletable tr:hover {
    background-color: gray;
}

.selected { 
    background-color: lightblue; 
}
.pages {
     display: inline
}
.isactive {
    background-color: lightblue; 
}

nav > ul {
    margin: 10px 10px;
    background-color: yellow;
    border: 1px solid gray;
}
nav > ul > li {
    margin: 3px 10px;
    display:inline;
}
