body {
    font-size: 1.4em;
    font-family: Arial, sans-serif, Times, "Times New Roman";
    background-color: lightyellow;
}

button {
  color: black;
}

.container {
    margin : 0 auto;
    margin-top: 2%;
    width: 85%;
}
table.selectabletable thead > tr:hover {
    background-color: white;
}
table.selectabletable tr:hover {
    background-color: lightblue;
}

.selected { 
    background-color: gray; 
}
